name: Release Extension

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Create Extension ZIP
        run: |
          cd extension
          zip -r ../urboard-extension.zip .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: urboard-extension
          path: urboard-extension.zip

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || 'latest' }}
          name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || 'Latest Extension Build' }}
          files: urboard-extension.zip
          prerelease: ${{ !startsWith(github.ref, 'refs/tags/') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
